<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>{{title}}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <header>
        <div class="header__wrapper">

            <nav class="menu">
                <ul class="menu__list">
                    <a href="{{url_for('addPost')}}" class="menu__list__item""><li>Новости</li></a>
                    <a href="{{url_for('addPost')}}" class="menu__list__item""><li>Категории</li></a>
                    <a href="{{url_for('addPost')}}" class="menu__list__item""><li>Самое интересное</li></a>
                </ul>
            </nav>
        
            <div class="buttons__regist">
                <a class="regist" href="/registration">Регистрация</a>
                <a href="###" class="enter">Вход</a>
            </div>
        </header>
        </div>
    <!-- {% for i in range(100) %}
        <h1>{{i}}</h1>

    {% endfor %} -->
    {% endblock %}
</body>
</html>