{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% for message in get_flashed_messages() %}
	<div class="alert">{{ message }}</div>
{% endfor %}
<form action="" method="POST">
{{ form.hidden_tag() }}
{% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] %}
    {{ field.label() }}
{% if field.errors %}
    {{ field(class="invalid")}}
    {% for e in field.errors %}
    {{ e }}
    {% endfor %}
{% else %}
    {{ field() }}
{% endif %}
{% endfor %}
{{ form.remember.label() }} {{ form.remember() }}
{{ form.submit() }}
    <!-- <input type="email" name="email">
    <input type="text" name="password">
    <input type="checkbox" name="remainme"> Запомнить меня
    <input type="submit" value="Войти"> -->
</form>
{% endblock %}