{% extends 'base.html' %}
{% block title %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/regist.css')}}">
{% endblock %}
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<h1 class="{{cat}}">{{msg}}</h1>
{% endfor %}
<form action="/registration" method="POST">
    <input type="text" name="username" placeholder="Введите имя" required>
    <input type="submit" value="Отправить">
</form>
<h1>USERS:</h1>
{% for i in users %}
    {{i}}
{% endfor %}
{% endblock %}